{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p>
The Distant Reader is a tool for reading.

The Distant Reader empowers you to use & understand large amounts of textual information both quickly & easily. For example, the Distant Reader can consume the entire issue of a scholarly journal, the complete works of a given author, or the content found at the other end of an arbitrarily long list of URLs. Thus, the Distant Reader is akin to a book's table-of-contents or back-of-the-book index but at scale. It simplifies the process of identifying trends & anomalies in a corpus, and then it enables you to further investigate those trends & anomalies.

Technically speaking, the Distant Reader is a system which locally harvests/caches content you specify. It then transforms the content into plain text, performs sets of natural language processing & text mining against the text, saves the results in a number of formats, reduces the whole to a cross-platform database file, queries the database thus summarizing the collection, zips the results of the entire process into a single file, and makes the file available to you for further investigation -- "reading".
</p>
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel" style="width:600px;height:400px;">

      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

              <div class="carousel-inner">
          <div class="active item">
                <img class="d-block" src="/static/img/tmp.png" alt="First slide">
          </div>
          <div class="item">
              <img class="d-block" style="height:400px" src="/static/img/pearc19.png" alt="First slide">
          </div>
          <div class="item">
              <img class="d-block" src="/static/img/tmp.png" alt="First slide">
          </div>
      </div>

      <a class="carousel-control left" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>

{% endblock %}
